<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/script/updateContact.js}"></script>
</head>
<body>
<div class="userForm">
    <div>
        <input type="text" class="contact-first-name" placeholder="Name">
    </div>
    <div>
        <input type="text" class="contact-last-name" placeholder="Surname">
    </div>
    <button class="update">Update</button>
    <h2>Users name and Surname</h2>
    <div class="contact-old">

    </div>
</div>
<button class="go-back" type="button">Back to Contacts</button>
</body>
</html>