<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <script type="text/javascript" th:src="@{/script/updateUsers.js}"></script>
</head>
<body>
<div class="userForm">
    <div>
        <input type="text" class="user-first-name" placeholder="Name">
    </div>
    <div>
        <input type="text" class="user-last-name" placeholder="Surname">
    </div>
    <button class="update">Update</button>
    <h2>Users name and Surname</h2>
    <div class="users-old">

    </div>
</div>
<a href="/">Back to Users</a>
</body>
</html>